body{
    height: 100%;
}

.navigation-bar{
    display: flex;
    background-color: black;
}

h4{
    margin-right: 27%;
}

h5{
    margin-right: 7%;
}

.fa{
    position: absolute;
    right: 0;
    margin-right: 2%;
    margin-top: 1%;
    color: white;
}

.nav-bar-text{
    font-family: "Montserrat";
    color: white;
}

.main{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: grey;
}

.flex-container-hor{
    display: flex;
}